<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>303224938084-o3o6t265g8ctl9msogcboi6riokk4d2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303224938084-o3o6t265g8ctl9msogcboi6riokk4d2r</string>
	<key>API_KEY</key>
	<string>AIzaSyCbe1UTsyemVHaFRnc_K3Ya0xoXT7U75Ms</string>
	<key>GCM_SENDER_ID</key>
	<string>303224938084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prasad.quiz</string>
	<key>PROJECT_ID</key>
	<string>quiz-69e86</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-69e86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303224938084:ios:d06d333847efa0fa</string>
	<key>DATABASE_URL</key>
	<string>https://quiz-69e86.firebaseio.com</string>
</dict>
</plist>